<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.marcos.angel.drawing">

    <uses-feature android:name="android.software.live_wallpaper"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/puerquito"
        android:label="@string/app_name"
        android:roundIcon="@drawable/puerquito"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <service
            android:name=".polygonDraw"
            android:enabled="true"
            android:label=""
            android:permission="android.permission.BIND_WALLPAPER">

            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService"/>
            </intent-filter>

            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/mywallpaper"/>
        </service>

        <activity
            android:name=".SettingsActivity"
            android:label=""
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>